body {
    height: 100%;
    background-image: linear-gradient(#dbfcc1, #9ee7f8);
}

span {
    position: absolute;
    top: 50%;
    padding: 10px;
}

.title {
    height: 50px;
    background-color: bisque;
}

.body {
    height: 400px;
    background-color: aqua;
}

.imagebody {
    border:solid 5px  #944f4f;
    display: flex;
    position: relative;
    left: 50px;
    top: 25px;
    width: 1200px;
    height: 300px;
    background-color: rgba(19, 19, 212, 0.585);
}

.image1 {
    width: 25%;
    height: 100%;
    padding: 25px;
    background-color: #9ee7f8;
}

.image2 {
    width: 25%;
    height: 100%;
    padding: 25px;
    background-color: #dbfcc1;
}

img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.music{
    position: fixed;
    bottom: 5px;
    right: 10px;
}
