body {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
}

.title img {
    height: 100%;
}

.title {
    display: flex;
    width: 100%;
    height: 50px;
}

.titletext {
    color: #9cf;
    padding: 15px;
}

.hang {
    display: flex;
}

.image {
    float: left;
    height: 300px;
    padding: 5px;
}

.hang img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.music {
    position: fixed;
    bottom: 5px;
    right: 10px;
}
