body {
    background-color: rgba(153, 204, 255, 0.199);
    height: 100%;
    margin: 0;
    padding: 0;
}

#title {
    height: 50px;
    padding-left: 100px;
    padding-top: 10px;
}

#xin {
    height: 50px;
    float: left;
}

#titletext {
    color: #9cf;
    padding: 15px;
    text-shadow: -2px -2px 3px #a8a8a8;
}

#search {
    height: 100%;
    padding-top: 50px;
    padding-left: 15%;
    padding-right: 15%;
}

#search-input {
    background: transparent;
    background-color: rgba(12, 197, 253, 0.016);
    font-size: 16px;
    line-height: 24px;
    font-family: "Microsoft YaHei";
    width: 500px;
    height: 40px;
    line-height: 44px;
    margin-bottom: 20px;
    border-color: gold;
    border-width: 1px;
    border-radius: 20px;
    padding-inline-start: 16px;

}

#hangs {
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
    text-shadow: 2px 3px 4px #a8a8a8;
}

.hang {
    float: left;
    text-align: center;
    border-radius: 10px;
    padding-top: 5px;
    margin: 5px;
    width: 100px;
    height: 30px;
    background-color:rgba(153, 204, 255, 0.082);
    box-shadow: 5px 5px 10px #a8a8a8;
}

#titletext a:link {
    text-decoration: none;
    color: #9cf;
}

.hang a:link {
    text-decoration: none;
    color: blue;
}

/*未访问的链接显示为蓝色,text-decoration:none将下划线隐藏*/

.hang a:visited {
    text-decoration: none;
    color: blue;
}

/*用户已访问过的链接显示蓝色*/

a:hover {
    text-decoration: none;
    color: red;
}

/*鼠标放置在链接上时显示为粉色*/

a:active {
    text-decoration: none;
    color: yellow;
}

/*鼠标点击链接时显示为黄色*/
